---
const today = new Date();
---

<footer>
    <p class="text-xs"> &copy; {new Date().getFullYear()} katonobu. All rights reserved. Build at {import.meta.env.BUILD_TIME}</p>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
</style>
